.picture{
    position: fixed;
    top:100px;
    right:100px;
    height: 200px;
    width: 200px;
    border: 15px solid transparent;
    background: 
        linear-gradient(45deg, white 10%, #87CEEB 50%, #1E90FF 90%),
        linear-gradient(45deg, #87CEEB, #E0F7FA);
    background-origin: border-box;
    background-clip: padding-box, border-box;
}

/* Контейнеры для всех сторон */
.circles-top,
.circles-bottom,
.circles-left,
.circles-right {
    position: absolute;
    display: flex;
}

.circles-top {
    top: -12px;
    left: 0;
    width: 100%;
    justify-content: space-between;
    padding: 0 3px;
}

.circles-bottom {
    bottom: -12px;
    left: 0;
    width: 100%;
    justify-content: space-between;
    padding: 0 3px;
}

.circles-left {
    left: -12px;
    top: 0;
    height: 100%;
    flex-direction: column;
    justify-content: space-between;
    padding: 3px 0;
}

.circles-right {
    right: -12px;
    top: 0;
    height: 100%;
    flex-direction: column;
    justify-content: space-between;
    padding: 3px 0;
}

.circle {
    width: 10px;
    height: 10px;
    background: #FFD700;
    border-radius: 50%;
    box-shadow: 0 0 3px rgba(255, 215, 0, 0.8);
}

.cloud {
    position: absolute;
    left: 20px;
    top: 20px;
    width: 70px;
    height: 30px;
    background: linear-gradient(90deg, #1E90FF 10%, #87CEEB 50%, white 70%);
    border-radius: 50%;
}   
.cloud2 {
    position: absolute;
    left: 70px;
    top: 30px;
    width: 70px;
    height: 30px;
    background: linear-gradient(90deg, white 10%, #87CEEB 50%, #1E90FF 90%);
    border-radius: 50%;
}   
.mush1_stipe{
  position: absolute;
  top:75px;
  left:40px;
  width: 20px;
  height: 60px;
  background: rgb(216, 212, 202);
    border-radius: 50% / 100% 100% 0 0;
}

.mush2_stipe{
  position: absolute;
  top:95px;
  left:95px;
  width: 10px;
  height: 40px;
  background: rgb(216, 212, 202);
    border-radius: 50% / 100% 100% 0 0;
}
.mush1{
  position: absolute;
  top:70px;
  left:20px;
  width: 60px;
  height: 30px;
  background: rgb(114, 83, 5);
    border-radius: 50% / 100% 100% 0 0;
}

.mush2{
    position: absolute;
    top:95px;
  left:80px;
  width: 40px;
  height: 20px;
  background: rgb(114, 83, 5);
    border-radius: 50% / 100% 100% 0 0;
}

.triangle_up{

    width: 0;
    height: 0;
    border-left: 25px solid transparent; /* Прозрачная левая граница */
    border-right: 25px solid transparent; /* Прозрачная правая граница */
    border-bottom: 70px solid #2E8B57; /* Зеленая нижняя граница = высота треугольника */
}

.triangle{
    position: absolute;
    bottom: 0; 
    left: 0;
    display: flex; 
    gap: -20px;
}

.head_dr {
    position: absolute;
    left: 120px;
    top: 60px;
    width: 20px;
    height: 20px;
    background: #d5eb58;
    border-radius: 50%;
}   

.eye1_dr {
    position: absolute;
    left: 123px;
    top: 64px;
    width: 5px;
    height: 5px;
    background: #000000;
    border-radius: 50%;
}   

.eye2_dr {
    position: absolute;
    left: 132px;
    top: 70px;
    width: 5px;
    height: 5px;
    background: #000000;
    border-radius: 50%;
}   

.body_dr {
    position: absolute;
    left: 130px;
    top: 40px;
    width: 40px;
    height: 20px;
    background: #d5eb58;
    border-radius: 50%;
    transform: rotate(140deg);
}   

.wing1_dr {
    position: absolute;
    left: 110px;
    top: 30px;
    width: 30px;
    height: 10px;
    background: #d5b6f8;
    border-style: solid;
    border-color: #42008d;
    border-radius: 50%;
    transform: rotate(30deg);
} 

.wing2_dr {
    position: absolute;
    left: 130px;
    top: 20px;
    width: 30px;
    height: 10px;
    background: #d5b6f8;
    border-style: solid;
    border-color: #42008d;
    border-radius: 50%;
    transform: rotate(100deg);
} 

.wing3_dr {
    position: absolute;
    left: 150px;
    top: 50px;
    width: 30px;
    height: 10px;
    background: #d5b6f8;
    border-style: solid;
    border-color: #42008d;
    border-radius: 50%;
    transform: rotate(190deg);
} 

.wing4_dr {
    position: absolute;
    left: 135px;
    top: 65px;
    width: 30px;
    height: 10px;
    background: #d5b6f8;
    border-style: solid;
    border-color: #42008d;
    border-radius: 50%;
    transform: rotate(260deg);
} 